<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <title>Detail</title>
</head>

<body>
    <div class="columns">
        <aside class="column is-narrow" style="width: 200px; background-color: rgb(4, 10, 69); height: 102vh; position: fixed;">
            <div class="menu has-text-centered">
                <br>
                <section>
                    <a href="{% url 'profile' %}"><img src="/media/person.svg" style="width: 60px;" height="60px"></a>
                </section>
                <br>
                <div class="item">
                    <p style="color: white;"><b>Hello {{user.username}}</b></p>
                </div>
                <br>
                <a href="" class="button is-danger">Logout</a>
            </div>
        </aside>

        <div class="column" style="margin: 20px; margin-left: 230px;">
            <section class="section">
                <h1 class="title" id="title">{{ car.name }}</h1>
            </section>
            
                    {% if car.image %}
                    <img src="{{ car.image.url }}" style="width: 100%; height: auto; max-height: 400px; max-width: 1000px;">
                    {% endif %}
                <div class="content">
                    <div>คำอธิบาย: {{ car.description }}</div>
                    <div>ทะเบียนรถ: {{ car.number }}</div>
                    <div>ที่นั่ง: {{ car.seat }}</div>
                    <div>ประเภท: {{ car.type }}</div>
                    <div>ประกัน: {{ car.insurance }}</div>
                    <div>ความพร้อมใช้งาน: 
                        {% if car.vehicle_status %}พร้อมใช้งาน
                        {% else %}ส่งซ่อม
                        {% endif %}
                    </div>
                    <div>พนักงานดูแล: {{ car.employee }}</div>
                    <div>เบอร์ติดต่อ: {{ car.employee.phone_number }}</div>
                    <div>ราคาต่อชั่วโมง: {{ car.price_per_hour }} บาท</div>
                    <div>ราคาต่อวัน: {{ car.price_per_day }} บาท</div>
                    <br>
                    <a href="{% url 'car-list' car.type.id%}" class="button is-danger">Back</a>
                    <a href="" class="button is-success">Rent</a>
                    <a href="{% url 'car-edit' car.id %}" class="button is-warning">Edit</a>
                </div>
        </div>
    </div>
</body>

</html>