<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
    </style>
    <title>Change password</title>
</head>

<body>
    <div class="columns">
        <aside class="column is-narrow"
            style="width: 200px; background-color: rgb(4, 10, 69); height: 102vh; position: fixed;">

            <div style="padding: 10px;">
                <a class="button is-danger" href="{% url 'profile' %}">Back</a>
            </div>
            <div class="menu has-text-centered">

                <br>
                <section>
                    <a href="{% url 'profile' %}"><img src="/media/person.svg" style="width: 60px;" height="60px"></a>
                </section>
                <br>
                <div class="item">
                    <p style="color: white;"><b>{{user.username}}</b></p>
                    <br>
                    <p style="color: white;">{{user.email}}</p>
                </div>
                <br>
                <a href="{% url 'logout' %}" class="button is-danger">Logout</a>
            </div>
        </aside>

        <div style="padding-top: 100px; width: 25%; margin: auto;">
            <div class="card">
                <br>
                <div class="media-content has-text-centered">
                    <h1 class="title" id="title">Change password</h1>
                </div>
                <div class="container pl-5 pr-5 pb-5 pt-3">
                    {{ form.non_field_errors }}
                    <form action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        <div class="field">
                            {{ form.password.errors }}
                            <label class="label" for="{{ form.username.id_for_label }}">Old Password</label>
                            <div class="control">
                                {{form.password}}
                            </div>
                        </div>
                        <div class="field">
                            {{ form.password.errors }}
                            <label class="label" for="{{ form.password.id_for_label }}">New Password</label>
                            <div class="control">
                                {{form.password}}
                            </div>
                        </div>
                        <br><br>
                        <div class="has-text-centered">
                            <div class="control">
                                <input type="submit" class="button is-link" value="Update">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>
</body>

</html>