<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
    </style>
    <title>Manage Employees</title>
</head>

<body>
    <div class="columns">
        <aside class="column is-narrow" style="width: 200px; background-color: rgb(4, 10, 69); height: 102vh; position: fixed;">
            <div style="padding: 10px;">
                <a href=" {% url 'typecar-list' %} " class="button is-danger">Back</a>
            </div>
            <div class="menu has-text-centered">
                <br>
                <section>
                    <a href="{% url 'profile' %}"><img src="/media/person.svg" style="width: 60px;" height="60px"></a>
                </section>
                <br>
                <div class="item">
                    <p style="color: white;"><b>{{user.username}}</b></p>
                </div>
                <br>
                <a href="" class="button is-danger">Logout</a>
            </div>
        </aside>

        <div class="column"  style="padding-left: 300px;">
            <section class="section">
                <h1 class="title" id="title">Employees</h1>
            </section>
            <br>
            <div class="container has-text-centered">
                <form action="{% url 'employee' %}">
                    <input class="input" type="text" name="search_id" placeholder="Search employee id / employee name"
                        style="width: 300px;">
                    <input class="button" type="submit" value="Search">
                </form>
                <table class="table" id="datatable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Phone number</th>
                            <th>Email</th>
                            <th>Position</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in emp%}
                        <tr>
                            <td>{{i.id}}</td>
                            <td>{{i}}</td>
                            <td>{{i.phone_number}}</td>
                            <td>{{i.email}}</td>
                            <td>{{i.position}}</td>
                            <td><a class="button is-warning" href="{% url 'employee' %}">Kick</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="column">
            <section class="section">
                <h2 class="title" id="title">Add Employees</h2>
            </section>
            <div class="container pl-5">
                <form method="POST">
                    {% csrf_token %}
                    {{form}}
                    <br>
                    <input class="button" type="submit" value="Add">
                </form>
            </div>
        </div>

        
    </div>


</body>

</html>