<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
    </style>
    <title>Manage Employees</title>
</head>

<body>
    <section class="section">
        <h1 class="title" id="title">Employees</h1>
    </section>
    <div class="columns">

        <aside class="column is-narrow" style="width: 200px; background-color: rgb(237, 212, 167); height: 100vh;">
            <div class="menu has-text-centered">
                <br>
                <section>
                    <a href=""><img src="/media/person-circle.svg" style="width: 60px;" height="60px"></a>
                </section>
                <br>
                <div class="item">
                    <p><b>Hello User</b></p>
                </div>
                <br>
                <a href="" class="button is-danger">Logout</a>
            </div>
        </aside>

        <div class="column">
            <div class="container pl-5 has-text-centered">
                <form method="POST">
                    {% csrf_token %}
                    {{form}}
                    <br>
                    <input class="button" type="submit" value="Add">
                </form>
            </div>
        </div>

        <div class="column">
            <div class="container has-text-centered">
                <form action="{% url 'employee' %}">
                    <input class="input" type="text" name="search_id" placeholder="Search employee id / employee name"
                        style="width: 300px;">
                    <input class="button" type="submit" value="Search">
                </form>
                <table class="table" id="datatable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Phone number</th>
                            <th>Email</th>
                            <th>Position</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in emp%}
                        <tr>
                            <td>{{i.id}}</td>
                            <td>{{i}}</td>
                            <td>{{i.phone_number}}</td>
                            <td>{{i.email}}</td>
                            <td>{{i.position}}</td>
                            <td><a class="button is-warning" href="{% url 'employee' %}">Kick</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</body>

</html>

<!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    >
    <title>Document</title>
</head>
<body>
    <div class="columns">

        <aside class="column is-narrow" style="width: 200px; background-color: rgb(237, 212, 167); height: 100vh;">
            <div class="menu has-text-centered">
                <br>
                <section>
                    <a href=""><img src="/media/person-circle.svg" style="width: 60px;" height="60px"></a>
                </section>
                <br>
                <div class="item">
                    <p><b>Hello User</b></p>
                </div>
                <br>
                <a href="" class="button is-danger">Logout</a>
            </div>
        </aside>
    </div>
</body>
</html> -->