<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    >
    <title>Typecar</title>
</head>
<body>
    <div class="columns">
        <aside class="column is-narrow" style="width: 200px; background-color: rgb(4, 10, 69); height: 102vh; position: fixed;">
            <div class="menu has-text-centered">
                <br>
                <section>
                    <a href="{% url 'profile' %}"><img src="/media/person.svg" style="width: 60px;" height="60px"></a>
                </section>
                <br>
                <div class="item">
                    <p style="color: white;"><b>สวัสดี {{user.username}}</b></p>
                </div>
                <br>
                <a href="{% url 'logout' %}" class="button is-danger">Logout</a>
            </div>
        </aside>

        <div class="column" style="margin: 20px; margin-left: 230px;">
            <section class="section">
                <h1 class="title" id="title">Add New Vehicle /Edit Vehicle</h1>
            </section>
            <div class="container pl-5">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
        
                    {{ form.non_field_errors }}
                <div class="columns">
                    <!-- col1    -->
                    <div class="column">
                        <div class="field">
                            {{ form.name.errors }}
                            <label class="label" for="{{ form.name.id_for_label }}">ชื่อยี่ห้อ/รุ่นรถ</label>
                            <div class="control">
                                {{ form.name }}
                            </div>
                        </div>

                        <div class="field">
                            {{ form.number.errors }}
                            <label class="label" for="{{ form.name.id_for_label }}">ทะเบียนรถ</label>
                            <div class="control">
                                {{ form.number }}
                            </div>
                        </div>

                        <div class="field">
                            {{ form.description.errors }}
                            <label class="label" for="{{ form.description.id_for_label }}">คำอธิบาย</label>
                            <div class="control">
                                {{ form.description }}
                            </div>
                        </div>
    
                        <div class="field">
                            {{ form.type.errors }}
                            <label class="label" for="{{ form.type.id_for_label }}">ประเภทรถ</label>
                            <div class="control">
                                {{ form.type }}
                            </div>
                        </div>
            
                        <div class="field">
                            {{ form.vehicle_status.errors }}
                            <label class="label" for="{{ form.vehicle_status.id_for_label }}">สถานะพร้อมใช้งาน</label>
                            <div class="control">
                                {{ form.vehicle_status }}
                            </div>
                        </div>
                
                        <div class="field">
                            {{ form.image.errors }}
                            <label class="label" for="{{ form.image.id_for_label }}">ภาพประกอบ</label>
                            <div class="control">
                                {{ form.image }}
                            </div>
                        </div>

                    </div>
                    <!-- col2 -->
                    <div class="column">
                        <div class="field">
                            {{ form.employee.errors }}
                            <label class="label" for="{{ form.employee.id_for_label }}">พนักงานที่ดูแล</label>
                            <div class="control">
                                {{ form.employee }}
                            </div>
                        </div>
            
                        <div class="field">
                            {{ form.insurance.errors }}
                            <label class="label" for="{{ form.insurance.id_for_label }}">ประกัน</label>
                            <div class="control">
                                {{ form.insurance }}
                            </div>
                        </div>
            
                        <div class="field">
                            {{ form.price_per_hour.errors }}
                            <label class="label" for="{{ form.price_per_hour.id_for_label }}">ราคาต่อชั่วโมง</label>
                            <div class="control">
                                {{ form.price_per_hour }}
                            </div>
                        </div>
            
                        <div class="field">
                            {{ form.price_per_day.errors }}
                            <label class="label" for="{{ form.price_per_day.id_for_label }}">ราคาต่อวัน</label>
                            <div class="control">
                                {{ form.price_per_day }}
                            </div>
                        </div>
            
                        <div class="field">
                            {{ form.seat.errors }}
                            <label class="label" for="{{ form.seat.id_for_label }}">จำนวนที่นั่ง</label>
                            <div class="control">
                                {{ form.seat }}
                            </div>
                        </div>

                        <br><br>
                        <div class="field is-grouped">
                            <div class="control">
                                <input type="submit" class="button is-success" value="บันทึก">
                            </div>
                            <div class="control">
                                <a class="button is-danger" href="{% url 'car-manage' %}">ย้อนกลับ</a>
                            </div>
                        </div>
                    </div> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
