<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    >
    <title>Typecar</title>
</head>
<body>
    <section class="section">
        <h1 class="title" id="title">Add New Vehicle Type/Edit Vehicle Type</h1>
    </section>
    <div class="container pl-5">
        {{ form.non_field_errors }}
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="field">
                {{ form.name.errors }}
                <label class="label" for="{{ form.name.id_for_label }}">Vehicle Name</label>
                <div class="control">
                    {{ form.name }}
                </div>
            </div>
    
            <div class="field">
                {{ form.description.errors }}
                <label class="label" for="{{ form.description.id_for_label }}">Description</label>
                <div class="control">
                    {{ form.description }}
                </div>
            </div>
    
            <div class="field">
                {{ form.image.errors }}
                <label class="label" for="{{ form.image.id_for_label }}">Upload Image</label>
                <div class="control">
                    {{ form.image }}
                </div>
            </div>
    
            <div class="field is-grouped">
                <div class="control">
                    <input type="submit" class="button is-success" value="Save">
                </div>
                <div class="control">
                    <a class="button is-danger" href="{% url 'typecar-list' %}">Back</a>
                </div>
            </div>
        </form>
    </div>
    
</body>
</html>
