<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
    </style>
    <title>Profile</title>
</head>

<body>
    <div class="columns">
        <aside class="column is-narrow"
            style="width: 200px; background-color: rgb(4, 10, 69); height: 102vh; position: fixed;">

            <div style="padding: 10px;">
                <a class="button is-info" href="{% url 'typecar-list' %}">Home</a>
            </div>
            <div class="menu has-text-centered">

                <br>
                <section>
                    <a href="{% url 'profile' %}"><img src="/media/person.svg" style="width: 60px;" height="60px"></a>
                </section>
                <br>
                <div class="item">
                    <p style="color: white;"><b>{{user.username}}</b></p>
                    <br>
                    <p style="color: white;">{{user.email}}</p>
                    <br>
                    <a href="{% url 'change_password' %}" class="button is-warning">Change password</a>
                </div>
                <br>
                <a href="{% url 'logout' %}" class="button is-danger">Logout</a>
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </aside>

        <div class="column" style="padding-left: 300px;">
            <section class="section">
                <h1 class="title" id="title">ประวัติการเช่า</h1>

            </section>
            <br>
            <div class="container has-text-centered">
                <form action="{% url 'profile' %}">
                    <input class="input" type="text" name="search" placeholder="ค้นหาจากชื่อรถหรือเลขทะเบียนรถ"
                        style="width: 300px;">
                    <input class="button" type="submit" value="ค้นหา">
                </form>
                <table class="table" id="datatable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>ยานพาหนะ</th>
                            <th>ลูกค้า</th>
                            <th>เวลาเริ่มต้น</th>
                            <th>เวลาที่ต้องคืน</th>
                            <th>สถานะการคืน</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in rent%}
                        <tr>
                            <td>{{i.id}}</td>
                            <td>{{i.vehicle}} {{i.vehicle.number}}</td>
                            <td>{{i.customer}}</td>
                            <td>{{i.start_time}}</td>
                            <td>{{i.end_time}}</td>
                            <td>
                                {% if i.return_status %}
                                คืนแล้ว
                                {% else %}
                                กำลังเช่า
                                {% endif %}
                            </td>
                            <td>
                                <a class="button is-info" href="{% url 'qr' i.id %}">ดูรายละเอียด</a>
                                {% if i.return_status %}
                                {% else %}
                                <a class="button is-danger" href="{% url 'cancle' i.id %}">ยกเลิก</a>
                                    {% if i.payment.pay_status %}
                                    <a class="button is-success" href="{% url 'approve' i.id %}">ยืนยันการคืนรถ</a>
                                    {% else %}
                                    <a class="button is-success" href="{% url 'check-paid' i.id %}">ยืนยันการจ่าย</a>
                                    {% endif %}
                                
                                {% endif %}

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>