<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <style>
        body{
            background-color: rgb(243, 240, 240);
        }
    </style>
</head>
<body>
    <div style="padding-top: 30px; width: 30%; margin: auto;">
        <div class="card">
            <br>
            <div class="media-content has-text-centered">
                <h1 class="title" id="title">Register</h1>
            </div>
            <div class="container pl-5 pr-5 pb-5 pt-3">
                {{ form.non_field_errors }}
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p>Phone_number</p>
                    <input class="input" type="text" id="phone_number" name="phone_number">
                    <br><br>
                    
                    <div class="has-text-centered">
                        <input type="submit" class="button is-link" value="Sign up">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
