<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <style>
        body{
            background-color: rgb(243, 240, 240);
        }
    </style>
    <title>Typecar</title>
</head>
<body>
    <div class="columns">
        <aside class="column is-narrow" style="width: 200px; background-color: rgb(4, 10, 69); height: 102vh; position: fixed;">
            <div class="menu has-text-centered">
                <br>
                <section>
                    <a href="{% url 'profile' %}"><img src="/media/person.svg" style="width: 60px;" height="60px"></a>
                </section>
                <br>
                <div class="item">
                    <p style="color: white;"><b>Hello {{user.username}}</b></p>
                </div>
                <br>
                <a href="{% url 'logout' %}" class="button is-danger">Logout</a>
            </div>
        </aside>
    
        <div class="column" style="margin: 20px; margin-left: 230px;">
            <section class="section has-text-centered">
                <h1 class="title" id="title">Rental Cars</h1>
            </section>
            <div class="container has-text-centered">
                {% if perms.rent.change_vehicletype %}
                <a href="{% url 'car-manage' %}" class="button is-info">จัดการรถยนต์</a>
                {% endif %}

                {% if perms.rent.change_employee %}
                <a href="{% url 'employee' %}" class="button is-warning">จัดการพนักงาน</a>
                {% endif %}
            </div>
            <div class="container"  style="margin-top: 20px;">
                <div class="columns is-multiline">
                    {% for type in types %}
                        <div class="column is-one-quarter">
                            <a href="{% url 'car-list' type.id %}">
                                <div class="card">
                                    <div class="card-image">
                                        <figure class="image is-4by3">
                                            {% if type.image %}
                                            <img src="{{ type.image.url }}" style="max-height: 250px; max-width: 400px;">"
                                            {% endif %}
                                        </figure>
                                    </a>
                                        <div class="media-content has-text-centered">
                                            <p class="title is-4">{{ type.name }}</p>
                                        </div>
                                        <div class="content has-text-centered pl-2 pr-2 pt-2">
                                            {{ type.description }}
                                        </div>
                                        <div class="has-text-right">
                                            {% if perms.rent.change_vehicletype %}
                                            <a class="button is-warning" href="{% url 'typecar-update' type.id %}">แก้ไข</a>
                                            {% endif %}
                                            {% if perms.rent.delete_vehicletype %}
                                            <a class="button is-danger" href="{% url 'typecar-delete' type.id %}">ลบ</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>